@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;
    --clr-primary: #6366F1;
    --clr-gradient: linear-gradient(left, #6366F1, #8B5CF6, #D946EF );
    --clr-error: #EF4444;
    --clr-success: #22C55E;
    --clr-warning: #FFBA08;
    --clr-info: #4C82F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

/* UTILITY CLASSES */

.grey-box {
    height: 50px;
    width: 50px;
    border-radius: .5em;
    border: none;
    background-color: var(--clr-gray-100);
    display: grid;
    place-items: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-inline: 2rem;
    padding-block: 2rem; 
}

.btn-primary {
    background-color: var(--clr-primary);
    color: white;
    border-radius: .5em;
    padding: 1em 2em;
    text-decoration: none;

    &:hover{
        background-color: hsl(239, 84%, 73%);
    color: white;
    }
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--clr-primary);
}



/* HEADER */

.header-container {
    display: grid; 
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
}

#logo {
    display: flex;
    align-items: center;
}
.navbar {
    display: none;
}

.nav-link {
    color: var(--clr-gray-800);
    font-weight: 600;

    &:hover {
        color: var(--clr-primary);
        text-decoration: underline;
    }
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.label {
    color: var(--clr-gray-800);
    font-size: 16px;
    display: none;
}

.toggle {
    width: 60px ;
    height: 34px;
    position: relative;
    display: inline-block;
}

.toggle-input {
    appearance: none;
    -webkit-appearance: none;
    
    &:checked ~ .slider::before {
        transform: translateX(100%);
    }
}

.slider {
    background-color: var(--clr-gray-600);
    position: absolute;
    inset: 0;
    border-radius: 100vw;
}

.slider::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
}
    

#auth-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    display: none;
}

.btn-mobile{
    display: grid;
    place-items: center;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

/* Hero section */

.hero-section {
    background: linear-gradient(0deg, rgba(99,102,241,0.10362401796656162) 0%, rgba(218,70,239,0.050402729451155426) 42%, rgba(241,244,253,0.07001057258841037) 83%); 
}

.headliner {
    margin-bottom: 3rem;
    grid-area: headliner;
    h1 {
        text-align: center;
        font-size: 34.1px;
        font-weight: 800;
    }
}

.content {
    grid-area: content;

    .h1-paragraph {
        font-size: 18px;
        margin-bottom: 3rem;
        color: #585C7B;
        text-align: center;
    }
    .download {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;  
    }
    .btn-download {
        background-color: #000;
        color: white;
        border-radius: .5em;
        padding: .5em 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: none;
    } 
}
.discover-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    .vector-circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #fff; 
        display: grid;
        place-items: center;
    }
        
    a {
        color: #585C7B;
        font-size: 14px;
    }
}

.mobile-image-1 {
    grid-area: mobile-image-1;
    display: none;
}


/* LOGOS SECTION */
.logos-section {
    display: none;
    
}

.logos-cards {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.logos-card {
    border: 1px solid var(--clr-gray-300);
    border-radius: 0.5em;
    padding: 1em;
    display: grid;
    place-items: center;
    flex: 1;
    width: 100%;


    img {
        width: 100%;
    }
}

/* APP FEATURES SECTION */

.app-features-section {
    display: grid;
    place-items: center;
}

.mobile-image-2 {
    display: none;
}

.app-features-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    h2 {
        font-size: 28px;
        font-weight: 800;
        text-align: center;
    }

    .h2-paragraph {
        font-size: 18;
        color: #585C7B ;
        text-align: center;
    }
}

.app-features-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.app-features-card {

    display: flex;
    gap: 2rem;

    h6 {
        font-size: 20px;
        font-weight: 800;
        padding-bottom: 1rem;
    }

    p {
        font-size: 16;
        color: #585C7B ;
    }
}

/* HOW-SECTION */

.how-section {
    background-color: var(--clr-gray-100);
}

.container-how {
    display: grid;
    place-items: center;
    gap: 2rem;
}

.h2-how-section {
    font-weight: 800;
    font-size: 28px;
}

.mobile-images-mobile {

}

.mobile-images-tablet {
    display: none;
}

.mobile-images-desktop {
    display: none;
}

.how-content-mobile {
    text-align: center;

    h5 {
        font-size: 21.6px;
        font-weight: 800;
        padding-inline: 3rem;
        margin-bottom: 1rem;

    }

    p {
        font-size: 16px;
        color: #585C7B;
    }
}

.how-content-tablet {
    display: none;

    text-align: center;
    
        h5 {
            font-size: 22.7px;
            font-weight: 800;
            padding-inline: 8rem;
            margin-bottom: 1rem;
    
        }
    
        p {
            font-size: 16px;
            color: #585C7B;
            padding-inline: 8rem;
        }
}

.how-content-desktop {
    display: none;

    text-align: center;
    
    h5 {
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 1rem;
        color: var(--clr-gray-900);

    }

    p {
        font-size: 16px;
        max-width: 700px;
        color: var(--clr-gray-800);
    }    
}

/* HOW-2-SECTION */

.how-2-section {
    display: none;
}

.container-how-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;

    h3 {
        font-size: 32px;
        color: var(--clr-gray-900);
        font-weight: 800;
        margin-bottom: 1.5rem;
        max-width: 80%;
    }
}

.money-transfer {


    .btn-money-transfer{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        gap: 1rem;
          
    }
}

.how-2-list {
    div {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    li {
        list-style: none;
        color: var(--clr-gray-800);
        font-size: 16px;
    }
}

.receive-payment-cards {
    display: flex;
    gap: 1rem;

    margin-bottom: 3rem;

    .grey-box {
        margin-bottom: 2rem;
    }
}

.btn-money-transfer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FEEDBACK-SECTION */

.feedback-section {
    display: none;
    background-color: var(--clr-gray-100);
}

.container-feedback {
    display: flex;
    gap: 1rem;
        
}

.feedback-headline {
    flex: 1;

    h2 {
        font-size: 40px;
        font-weight: 800;
        width: 80%;
    }
}
.feedback-card {
    flex: 1;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 0 5px #00000005;
    border-radius: .5em;
    height: 330px;

    position: relative;

    .stars {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }

    .quote {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
    }

    .review {
        padding-bottom: 1.5rem;
        font-size: 18px;
        line-height: 160%;
        color: var(--clr-gray-800);
    }

    .name {
        grid-area: name;
        font-weight: 700;
    }

    .profession {
        grid-area: profession;
        font-size: 14px;
        color: var(--clr-gray-600);
    }

    .avatar {
        grid-area: avatar;
    }
}

.sender {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    grid-template-areas: "avatar name"
                         "avatar profession";                    
}

/* FAQ-SECTION */

.container-FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: var(--clr-gray-900);
        text-align: left;
        background-color: transparent;
        border: none;
    }
}

.FAQ-info {
    text-align: center;

    h3 {
        font-size: 24.7px;
        line-height: 32.1px;
        color: #131022;
        font-weight: 800;
        margin-bottom: 1rem;
    }

    p {
        font-size: 18px;
        line-height: 28.8px;
        color: #585C7B;
        margin-bottom: 2rem;
    }
}

.questions-mobile{
    margin-bottom: 3rem;

    .q {
        border-left: 1px solid #E2E5F1;
        border-right: 1px solid #E2E5F1;
        border-top: 0.5px solid #E2E5F1;
        border-bottom: 0.5px solid #E2E5F1;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .q-top {
        border-top: 1px solid #E2E5F1;
        border-radius: 0.5em 0.5em 0 0;
    }

    .q-bottom {
        border-bottom: 1px solid #E2E5F1;
        border-radius: 0 0 0.5em 0.5em;
    }

    .q-text {
        display: block;
        
        p {
            margin-bottom: 2rem;
            line-height: 22.4px;
            font-size: 14px;
        }
    }
}

.questions-tablet{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

    .q-t {
        border: none;
        box-shadow: 0 0 5px #00000015;
        border-radius: .5em;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .q-t-text {
        flex-direction: column;

        .flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
    }
}

.FAQ-cards {
    display: flex;
    gap: 2rem;
    width: 100%;

    .FAQ-card {
        border: 1px solid var(--clr-gray-300);
        border-radius: .5em;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        width: 100%;
        padding: 2rem;

        a {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: var(--clr-info);
            font-size: 14px;
            line-height: 160%;
            font-weight: 600;
        }
    }

    .FAQ-card-2 {
        a {
            color: var(--clr-success);
        }

        
    }
}






@media (width >= 768px) {
    .container {
        max-width: 720px;
        padding-block: 2.5rem;
        padding-inline: 0;
    }

    .header-container {
        gap: 3rem;
    }

    .label {
        display: block;
    }

    /* HERO SECTION */

    .container-hero {
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headliner headliner"
                            "content mobile-image-1";
    }

    .mobile-image-1 {
        display: grid;
        place-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .headliner {
        display: flex;
        justify-content: center;
        
        h1 {
            font-size: 44.3px;
            max-width: 60%;   
        }
    }

    .content {
        padding-top: 2rem;
        
        .h1-paragraph {
            font-size: 18px;
            line-height: 28.8px;
            text-align: left;
        }
    }


    .content .download {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }

    .discover-more {
        justify-content: flex-start;
    }

    /* LOGOS SECTION */

    .logos-section {
        display: block;
    }

    .logos-card-4 {
        display: none;
    }
    .logos-card-5 {
        display: none;
    }

    /* APP FEATURES SECTION */

    .app-features-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .app-features-content h2 {
        font-size: 33px;
    }

    /* HOW-SECTION */

    .h2-how-section {
        font-size: 33.5px;
    }

    .mobile-images-mobile {
    display: none;
    }
    
    .mobile-images-tablet {
        display: block;
    }

    .how-content-mobile {
        display: none;
    }
    
    .how-content-tablet {
        display: block;
    }

    /* HOW-2-SECTION */

    .how-2-section {
        display: none;
    }

    /* FEEDBACK-SECTION */

    .feedback-section {
        display: none;
    }

    /* FAQ-SECTION */

    .FAQ-info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h3 {
            font-size: 32px;
            line-height: 130%;
            color: var(--clr-gray-900);
            font-weight: 800;
            margin-bottom: 2cqmax;
            max-width: 60%;
        }
    
        p {
            font-size: 18px;
            line-height: 160%;
            color: var(--clr-gray-800);
            margin-bottom: 3rem;
            max-width: 70%;
        }
    }

    .questions-mobile {
        display: none;
    }

    .FAQ-btn {
        display: none;
    }

}






@media (width >= 1400px) {
    .container{
        max-width: 1320px;
        padding-block: 5rem;
        
    }

    .header-container {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
    }

    .navbar {
    display: flex;
    align-items: center;
    }

    #auth-signin {
        display: flex;
    }

    .btn-mobile{
        display: none;
    }

    /* HERO SECTION */
    
    .container-hero {
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "headliner mobile-image-1"
                            "content mobile-image-1";
    
    }

    .headliner {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        
        h1 {
            font-size: 56px;
            max-width: 90%; 
            text-align: left;  
        }
    }

    .content {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        .h1-paragraph {
            font-size: 18px;
            line-height: 160%;
            text-align: left;
        }
    }

    .content .download {
        margin-bottom: 12rem;
    }

    



    /* LOGOS SECTION */

    .logos-card-4 {
        display: block;
    }
    .logos-card-5 {
        display: block;
    }

    /* APP-FEATURES SECTION */

    .mobile-image-2 {
        display: block;
    }

    .container-app-features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;

        h2 {
            text-align: left;
        }
    }

    .app-features-content {
        gap: .5rem;
        
        h2 {
            text-align: left;
            font-size: 40px;
        }

        .h2-paragraph {
            text-align: left;
        }
    }

    /* HOW-SECTION */

    .h2-how-section {
        font-size: 40px;
    }

    .mobile-images-tablet {
        display: none;
    }
    
    .mobile-images-desktop {
        display: block;
    }
    
    .how-content-tablet {
        display: none;
    }
    
    .how-content-desktop {
        display: block;
}

/* HOW-2-SECTION */

.how-2-section {
    display: block;
}

/* FEEDBACK-SECTION */
    
    .feedback-section {
        display: block;
    }

}




