footer {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font: size 14px;
        color: var(--clr-gray-500);
        line-height: 160%;
        text-align: center;
    }
}

@media (width >= 768px) {

}


@media (width >= 1400px) {

}