.hero-section {
    background: linear-gradient(0deg, rgba(99,102,241,0.10362401796656162) 0%, rgba(218,70,239,0.050402729451155426) 42%, rgba(241,244,253,0.07001057258841037) 83%); 
}

.headliner {
    margin-bottom: 3rem;
    grid-area: headliner;
    h1 {
        text-align: center;
        @include h1;
    }
}

.content {
    grid-area: content;

    .h1-paragraph {
        font-size: 18px;
        margin-bottom: 3rem;
        color: var(--clr-gray-800);
        text-align: center;
    }
    .download {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;  
    }
    .btn-download {
        background-color: var(--clr-bg-download);
        color: white;
        border-radius: .5em;
        padding: .5em 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: none;

        .apptore-dark-img {
            display: none;
        }
        .googleplay-dark-img {
            display: none;
        }
    } 
}
.discover-more {
    @include flex-center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;

    .vector-circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #fff; 
        display: grid;
        place-items: center;
    }
        
    a {
        color: var(--clr-gray-800);
        font-size: 14px;
    }
}

.mobile-image-1 {
    grid-area: mobile-image-1;
    display: none;
}

.dark {
    .content {
        .btn-download {
            .apptore-light-img {
                display: none;
            }
            .apptore-dark-img {
                display: block;
            }
            .googleplay-light-img {
                display: none;
            }
            .googleplay-dark-img {
                display: block;
            }
        }
    }
}





@media (width >= 768px) {
    .container-hero {
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headliner headliner"
                            "content mobile-image-1";
    }

    .mobile-image-1 {
        @include grid-center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .headliner {
        @include flex-center;
        
        h1 {
            max-width: 60%;   
        }
    }

    .content {
        padding-top: 2rem;
        
        .h1-paragraph {
            font-size: 18px;
            line-height: 28.8px;
            text-align: left;
        }
    }


    .content {
        .download {
            display: flex;
            flex-direction: row;
            margin-bottom: 2rem;
        }
    }

    .discover-more {
        justify-content: flex-start;
    }
}





@media (width >= 1400px) {
    .container-hero {
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "headliner mobile-image-1"
                            "content mobile-image-1";
    }

    .headliner {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        
        h1 {
            max-width: 90%; 
            text-align: left;  
        }
    }

    .content {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        .h1-paragraph {
            font-size: 18px;
            line-height: 160%;
            text-align: left;
        }
    }

    .content .download {
        margin-bottom: 12rem;
    }
}


