.container {
    width: 100%;
    margin: 0 auto;
    padding-inline: 2rem;
    padding-block: 2rem; 
}

@media (width >= 768px) {
    .container {
        max-width: 720px;
        padding-block: 2.5rem;
        padding-inline: 0;
    }
}

@media (width >= 1400px) {
    .container {
        max-width: 1320px;
        padding-block: 5rem; 
    }
}