.btn-primary {
    background-color: var(--clr-primary);
    color: white;
    border-radius: .5em;
    padding: 1em 2em;
    text-decoration: none;

    &:hover{
        background-color: hsl(239, 84%, 73%);
        color: white;
    }

    &:focus {
        background-color: hsl(239, 84%, 73%);
        color: white;
        outline: none;
    }
}

button {
    &:focus {
        outline: none;
        box-shadow: 0 0 10px var(--clr-primary);
    }
}